---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup ruby
        id: ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run lint
        id: lint
        run: bundle exec rake rubocop

      - name: Run test
        id: test
        run: bundle exec rake test

...
